<snippet>
    <content><![CDATA[
{
    "folders":
    [
        {
            "name" : "beancount-ray-extensions",
            "path": ".",
            "folder_exclude_patterns" : [ "__pycache__", "*.egg-info" ],
            "file_exclude_patterns" : [ "*.sublime-project" ]
        }
    ],
    "settings":
    {
        "tab_size": 8
    },
    "build_systems":
    [
        {
            "name": "List",
            "shell_cmd": "ls -l"
        }
    ]
}
]]></content>
    <!-- Optional: Set a tabTrigger to define how to trigger the snippet -->
    <tabTrigger>sublimeproject</tabTrigger>
    <!-- Optional: Set a scope to limit where the snippet will trigger -->
    <scope>source.json</scope>
</snippet>
